// Specific CSS for your home-page
body {
  // background-color: #95D5B2;
  background-color: #e7f3e9;
  justify-content: center;
}

h1 {
  font-family: 'Bakbak One', cursive;
  color: #2D6A4F;
}

h2 {
 text-align: center;
 font-family: 'Cormorant Garamond', serif;
}

h3 {
  font-family: 'Ubuntu Mono', monospace;
  text-decoration: underline;
}

h4 {
  font-family: 'Cormorant Garamond', serif;
}

 a {
    color: #52B788;
  }
  a:hover {
    color: #D8F3DC;
  }
