<div class="footer">
  <div class="footer-links">
    <a href="#">Assistance</a>
    <a href="#">FAQ</a>
    <a href="#">A propos de</a>
    <a href="#">Contact</a>
  </div>
  <div class="footer-copyright">
    © Planetravel
  </div>
</div>
