<div>
  <%= link_to 'Add a planet', new_planet_path %>
</div>

<%# test %>
<div class="container">
    <% @planets.each do |planet| %>
      <div class="featured-posts">
	<div class="card-grid">
		<article class="mini-card">
			<header class="mini-card-header">
				<div class="mini-card-thumbnail" style="background-image: url('https://picsum.photos/seed/picsum/400');"></div>
				<h2 class="mini-card-title">
					<a href="http://acf-demo.local/travel-post-1/"> <%= link_to planet.name, planet_path(planet) %></a>
				</h2>
			</header>
			<div class="mini-card-body">
				<div class="mini-card-meta">
					<img src="https://picsum.photos/seed/picsum/80" class="avatar avatar-80 photo" width="80" height="80" />
					<span class="article-author"><%= link_to 'Edit', edit_planet_path(planet) %>
          <%= link_to 'Delete', planet_path(planet),
                              method: :delete,
                              data: { confirm: "Are you sure?" }%>
                              </span>
				</div>
				<p class="mini-card-exerpt">xxx</p>
			</div>
		</article>
	</div>
</div>
    <% end %>
</div>
