<div>
  <%= link_to 'Add a planet', new_planet_path %>
</div>

<%# test %>
<div class="container">
    <% @planets.each do |planet| %>
      <div class="featured-posts">
	<div class="card-grid">
		<article class="mini-card">
			<header class="mini-card-header">
				<div class="mini-card-thumbnail" style="background-image: url('https://cdn.pling.com/img/d/1/7/a/16d6867baac112659bea211f3320d022cdcc.jpg');"></div>
				<h2 class="mini-card-title">
					<a href="http://acf-demo.local/travel-post-1/"> <%= link_to planet.name, planet_path(planet) %></a>
				</h2>
			</header>
			<div class="mini-card-body">
				<div class="mini-card-meta">
          <p>
            <% if policy(planet).edit? %>
              <%= link_to 'Edit', edit_planet_path(planet) %>
            <% end %>
          </p>
				</div>
			</div>
		</article>
	</div>
</div>
    <% end %>
</div>
