<h1>Hello <%= @user.name %></h1>

<div>
<p>Your full name:<%= @user.name %></p>
<p>Your email:<%= @user.email %></p>
<p>Your phone number:<%= @user.phone_number %></p>
</div>

<div>
  <h4>Your next trips</h4>
</div>

<div>
  <h4>Your bookings</h4>
</div>

<% console %>
