<h2>Featured categories</h2>
<p> xxx </p>

 <div class="row">
  <div class="column">
    <div class="planet-card">
      <div class="cercle">
        <img src="" alt="">
      </div><br>
      <div class="card-infos">
        xxxxxx
      </div>
    </div>
  </div>
  <div class="column">
    <div class="planet-card">
      <div class="cercle">
        <img src="" alt="">
      </div><br>
      <div class="card-infos">
      xxxxxx
      </div>
    </div>
  </div>
  <div class="column">
    <div class="planet-card">
      <div class="cercle">
        <img src="" alt="">
      </div><br>
     <div class="card-infos">
      xxxxxx
      </div>
    </div>
  </div>
  <div class="column">
    <div class="planet-card">
      <div class="cercle">
        <img src="" alt="">
      </div><br>
     <div class="card-infos">
      xxxxxx
      </div>
    </div>
  </div>
</div>

<div class="row">
 <div class="column">
    <div class="news-card">
      <div class="square-image">
        <img src="" alt="">
      </div>
    </div>
  </div>
  <div class="column">
    <div class="news-card">
     <div class="square-infos">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#">Assistance</a>
    <a href="#">FAQ</a>
    <a href="#">A propos de</a>
    <a href="#">Contact</a>
  </div>
  <div class="footer-copyright">
    © Planetravel
  </div>
</div>
