// Featured categories
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  color: #555;
  background: #222;
  text-align: center;
  font-family: 'Roboto Mono';
  padding: 1em;
}

h1 {
  font-size: 2.2em;
}

// base
.flip {
    position: relative;
    >.front,
    >.back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .8s;
        transition-property: transform, opacity;
    }
    >.front {
        transform: rotateY(0deg);
    }
    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg);
    }
    &:hover {
        >.front {
            transform: rotateY(180deg);
        }
        >.back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }
    &.flip-vertical {
        >.back {
            transform: rotateX(-180deg);
        }
        &:hover {
            >.front {
                transform: rotateX(180deg);
            }
            >.back {
                transform: rotateX(0deg);
            }
        }
    }
}

// custom
.flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 400px;
    >.front,
    >.back {
      display: block;
      color: white;
      width: inherit;
      background-size: cover!important;
      background-position: center!important;
      height: 220px;
      padding: 1em 2em;
      background: #313131;
      border-radius: 10px;
      p {
        font-size: 0.9125rem;
        line-height: 160%;
        color: #999;
      }
    }
}

.text-shadow {
text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

// Test cartes mouvantes
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
  box-sizing: border-box;
}

.container, html {
  font-family: 'Roboto Slab', serif;
  // margin: 0;
  // width: 100%;
  // height: 100%;
  // padding: 0;
}

.container {
  // background-color: #D2DBDD;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
}

.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 820px;
    margin: 30px 0px 30px 0px;
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('https://media.contentapi.ea.com/content/dam/walrus/images/2018/11/mapvista-theed-grid.jpg.adapt.crop191x100.628p.jpg');
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url('https://i.pinimg.com/originals/5f/e7/f9/5fe7f9930eb6b643d538a39e36ffdb0c.jpg');
}

.card--3 .card__img, .card--3 .card__img--hover {
    background-image: url('https://lumiere-a.akamaihd.net/v1/images/Coruscant_03db43b4.jpeg?region=0%2C0%2C1536%2C864&width=960');
}

.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
  vertical-align: middle;
    fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;

}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.8s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;

}
.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #D8F3DC;
    width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #D8F3DC;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}

// Activities and landscapes
main {
  padding: 0 64px 64px;
}

.billet {
  border-radius: 16px;
  // margin: 0 auto;
  margin: 15px;
  width: 500px;
  max-width: 100%;
  min-height: 500px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  // background-image: url(https://game-guide.fr/wp-content/uploads/2011/08/nar-shaddaa-image-conceptuelle-004.jpg);
  // background-size: cover;
  .img1 {
    background-image: url(https://i.pinimg.com/originals/c0/b0/73/c0b073270a0648a2e60f5642a07e5d44.jpg);
    background-size: cover;
  }
  .img2 {
    background-image: url(https://cdn.wallpapersafari.com/52/25/SmKEgq.jpg);
    background-size: cover;
  }
  .img3 {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/900/711/645/star-wars-at-at-walker-hoth-star-wars-wallpaper-thumb.jpg);
    background-size: cover;
  }
  .img4 {
    background-image: url(https://i.pinimg.com/originals/f8/c8/72/f8c8723beae92403582fc0b94193279b.jpg);
    background-size: cover;
  }
  .img5 {
    background-image: url(http://images.squarespace-cdn.com/content/v1/5654b0dce4b0bdb2429855bf/1584650697039-BVJP1FMURGIQ0K3S8N6J/coleman-ewok-village.v4.png);
    background-size: cover;
  }
  .img6 {
    background-image: url(https://game-guide.fr/wp-content/uploads/2011/08/nar-shaddaa-image-conceptuelle-004.jpg);
    background-size: cover;
  }
}

.info {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #fff;
  transform: translateY(100%)
    translateY(-88px)
    translateZ(0);
  transition: transform 0.8s ease-out;
}

.info:before {
  z-index: -1;
  display: block;
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(https://source.unsplash.com/collection/905011/1000x1000);
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%)
    translateY(88px)
    translateZ(0);
  transition: transform 0.8s ease-out;
}

.billet:hover .info,
.billet:hover .info:before {
  transform: translateY(0) translateZ(0);
}

.title {
  margin: 0;
  padding: 24px;
  font-size: 40px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.87);
}

.description {
  margin: 0;
  padding: 0 24px 24px;
  font-size: 18px;
  line-height: 1.5;
}

// /* General layout and typography stuff */
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

// * {
//   box-sizing: border-box;
//   position: relative;
//   transition: all .3s ease
// }

// html {
//   font-size: 16px
// }

// body {
//   font-family: Open Sans, Verdana, sans-serif;
//   color: rgba(0, 0, 0, .87);
//   font-weight: 400;
//   line-height: 1.45
// }

body,
header {
  background: #fafafa
}

header {
  padding: 40px;
  min-height: 200px;
  text-align: center;
  color: rgba(0, 0, 0, .87)
}

header > * {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto
}

header>:last-child {
  margin-bottom: 0
}

h1 {
  margin-bottom: 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  color: #1c5b72;
  font-size: 2.618em
}

@media (min-width:800px) {
  h1 {
    font-size: 4.236em;
    font-weight: 300
  }
}

p {
  margin-bottom: 1.3em;
  line-height: 1.618
}

@media (min-width:800px) {
  p {
    font-size: 1.3em
  }
}

a {
  color: #2D6A4F;
  text-decoration: none;
  text-align: center;
}


// planets

.featured-posts {
	display: flex;

	.card-grid {
		display: flex;
		// margin: 2em auto;
    margin: 15px;
	}

	.mini-card {
		width: 300px;
		min-width: 300px;
		height: 400px;
		border-radius: 16px;
		overflow: hidden;
		background: #D8F3DC;
		box-shadow: 0em 0em 2em -1em #000;
		display: flex;
		flex-direction: column;
		transition: 0.8s;
		margin: 0;
		z-index: 10;

		.mini-card-header,
		.mini-card-body {
			position: relative;
			padding: 1.5em;
		}
		.mini-card-header {
			display: block;
			flex: 4;
			overflow: hidden;
			background: #000;
			z-index: 0;
			display: flex;
			flex-direction: column-reverse;
			transition: 0.8s;

			.mini-card-thumbnail {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: -1;
				opacity: 0.6;
				background-size: cover;
				background-position: 50% 50%;
				transition: 0.8s;
			}

			h2 {
				color: #fff;
				font-size: 1.2em;
				margin: 0;

				a {
					color: inherit;
					text-decoration: none;
					&:hover {
						color: #fff;
            text-decoration: underline;
					}
				}
			}
		}
		.mini-card-body {
			flex: 2;
			overflow: hidden;

			.mini-card-meta {
				display: grid;
				grid-template-columns: 45px 1fr;
				grid-template-rows: 1fr 1fr;
				font-size: 0.7em;
				line-height: 1.2em;
				margin-bottom: 1em;
			}
			.mini-card-exerpt {
				font-size: 0.8em;

				&:after {
					content: "";
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 100px;
					background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);;
				}
			}
		}

		&:not(:first-child) {
			margin-left: -130px;
		}

		&:is(article):hover {
			transform: translateY( -30px );
			~ article {
				transform: translateX(120px);
			}
			.mini-card-header {
				flex: 3;
				.mini-card-thumbnail {
					opacity: 0.7;
				}
			}
		}
	}

	 // Header.
	 .header-card {
        background-image: linear-gradient(0deg, #9b2545, #cd2653);
        color: #fff;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        page-break-after: auto;
        padding: 1.5em;
        font-size: 0.8em;
        + .mini-card {
            margin-left: 20px;
        }
    }
}


// show planet
.carte {
  border: solid #2D6A4F;
  background-color: #B7E4C7;
  box-shadow: 20px -16px #1B4332;
  width: 30vw;
  margin: auto;
}

// .flexbox {
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
// }
