.navbar-lewagon {
  justify-content: space-between;
  background: #40916C;
  position: relative;
  // width: 1900px;
  height: 110px;
  border-radius: 0px;
  font-family: 'Bakbak One', cursive;
  margin-bottom: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
